<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>noticeList</title>
    <th:block th:replace="/admin/customer/common/head.html"></th:block>
</head>
<body class="sb-nav-fixed">
<th:block th:replace="/admin/customer/common/header.html"></th:block>
<div id="layoutSidenav">
    <th:block th:replace="/admin/customer/common/sideNav.html"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <form id="searchForm" action="/admin/customer/noticeList" style="">
                <h2 class="mt-4">공지사항 관리페이지</h2>
                <div class="card mb-4 mt-4">
                    <div class="card-header">
                        <div class="justify-content-between d-flex align-items-center">
                            <a class="btn btn-primary" href="/admin/customer/noticeWrite">공지사항 등록</a>
                            <div class="text-end">
                                <form class="d-none d-md-inline-block form-inline ms-auto me-0 my-2 my-md-0">
                                    <div class="input-group">
                                        <input id="searchInput" name="searchValue" class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                                        <!-- 검색 버튼 -->
                                        <button id="searchButton" class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>공지코드</th>
                                <th>공지제목</th>
                                <th>공지날짜</th>
                                <th>관리자아이디</th>
                                <th>삭제</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>공지코드</th>
                                <th>공지제목</th>
                                <th>공지날짜</th>
                                <th>관리자아이디</th>
                                <th>삭제</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="notice : ${ noticeList }">
                                <td th:text="${ notice.noticeCode }"></td>
                                <td><a th:href="|noticeDetail?noticeCode=${ notice.noticeCode }|" th:text="${ notice.noticeTitle }"></a></td>
                                <td th:text="${ notice.noticeDate }"></td>
                                <td th:text="${ notice.adminId }"></td>
                                <td>
                                    <form action="noticeDelete" method="GET" onsubmit="return delete_event()">
                                        <input type="hidden" name="noticeCode" th:value="${ notice.noticeCode }" />
                                        <button type="submit" class="btn btn-secondary btn-sm">삭제</button>
                                        <script type="text/javascript">
                                            function delete_event() {
                                                if(confirm("정말 삭제하시겠습니까?") === true) {
                                                    return true;
                                                } else {
                                                    return false;
                                                }
                                            }
                                        </script>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </form>
            </div>
        </main>
    </div>
</div>
<th:block th:replace="/admin/customer/common/foot.html"></th:block>
<script>
    window.addEventListener('DOMContentLoaded', event => {
        // 데이터 테이블 초기화
        const datatablesSimple = document.getElementById('datatablesSimple');
        let dataTable;
        if (datatablesSimple) {
            // 검색 기능을 활성화하여 테이블을 초기화합니다.
            dataTable = new simpleDatatables.DataTable(datatablesSimple, {
                searchable: true,
            });
        }

        // 검색 입력 필드를 선택합니다.
        const searchInput = document.getElementById('searchInput');

        // 검색 입력 필드가 존재하는 경우에만 이벤트를 추가합니다.
        if (searchInput) {
            // 검색 입력 필드의 입력 이벤트를 감지하여 엔터 키가 입력되었을 때 검색을 실행합니다.
            searchInput.addEventListener('keyup', function(event) {
                if (event.key === 'Enter') {
                    // 엔터 키가 입력되었을 때 검색어를 가져와 데이터 테이블에 적용합니다.
                    const searchValue = searchInput.value;
                    if (dataTable) {
                        dataTable.search(searchValue);
                    }
                }
            });
        }
    });
</script>
<script>
    // 페이지가 새로고침되었을 때 실행될 함수
    function checkForRefresh() {
        if (performance.navigation.type === 1) {
            // 1은 페이지 새로고침을 나타냅니다.
            // 페이지가 새로고침된 경우, 첫 페이지로 리다이렉트합니다.
            window.location.href = 'http://localhost:8080/admin/customer/noticeList';
        }
    }

    // 페이지 로드 시 checkForRefresh 함수를 실행합니다.
    window.onload = checkForRefresh;
</script>
</body>
</html>